<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreBluetoothDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7FE43191D4A451E00B758BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FE43321D4A451E00B758BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FE433D1D4A451E00B758BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
